/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* table{ 
    width:60%; 
    border-collapse: collapse;
    margin-top: 40px;
}

td,th{ 
    padding:10px; 
    border: 1px solid rgba(0, 0, 0, 0.171);
    text-align: center;
}

tr:hover{
    background: #2271b11f;
}

th{
    background: #2271b1;
    color: #fff;
    border: 1px solid #2271b1;
} */

select{
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

.btn-primary{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.btn-primary:hover{
    background: #fff;
    border-color: #2271b1;
    color: #2271b1;
}

.btn-danger:hover{
    background: #fff;
    border-color: #f12d2d;
    color: #f12d2d;
}

.btn-danger{
    background: #f12d2d;
    border-color: #f12d2d;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}